/* Eagle*/

.base{fill: #d8cfb2;}
.borders{fill: #554e3c;}
.shading{fill: #c3b391;}
.globe{fill: #88806b;}

/* Patch */

.outer {
	fill: #554e3c;
}

.background{
	fill: url(Atacs_AU.svg#pattern);
	stroke:#554e3c;
	stroke-width: 4;
}

.inner{
	fill: #635d47;
}

.leaf, .text {
	fill: #8c8863;
	stroke: #554e3c;
	stroke-width: 2;
}
