/* Eagle*/

.base{fill: #b9a88c;}
.borders{fill: #493630;}
.shading{fill: #a1927a;}
.globe{fill: #8b7c57;}

/* Patch */

.outer {
	fill: #3B2F23;
}

.background{
	fill: url(Multicam.svg#pattern);
	stroke:#3B2F23;
	stroke-width: 4;
}

.inner{
	fill: #81613E;
}

.leaf, .text {
	fill: #586240;
	stroke: #3B2F23;
	stroke-width: 2;
}