<a href="/index.html">
	<object id="logo" type="image/svg+xml" tabindex="-1" role="img" data="./{{assets}}/{{site.theme}}/assets/logo.svg"></object>
	<div>
		<span>{{site.title}}<span class="wb-inv">{{{i18n "comma-space"}}}</span><small>Socii Stamus · Divisi Cadimus</small></span>
	</div>
</a>
