<a href="/index.html">
	<object id="logo" type="image/svg+xml" tabindex="-1" role="img" data="./{{assets}}/assets/logo.svg" aria-label="9th Legion Milsim Paintball Team"></object>
	<span>{{site.title}}</span>
</a>
