<section class="col-sm-3">
	<h3>{{#i18n "tmpl-contact-us"}}{{/i18n}}</h3>
	<ul class="list-inline">
		<li><a href="mailto:ninthlegionmilsim@gmail.com"><span class="glyphicon glyphicon-envelope"></span><span class="wb-inv">Email</span></a></li>
		<!--<li><a href="#">Facebook</a></li>-->
	</ul>
</section>
