<section class="col-sm-4">
	<h3>{{#i18n "tmpl-contact-us"}}{{/i18n}}</h3>
	<ul class="list-inline">
		<li><a href="mailto:info@9thlegionmilsim.com"><span class="glyphicon glyphicon-envelope"></span><span class="wb-inv">Email:</span> info@9thlegionmilsim.com</a></li>
		<!--<li><a href="#">Facebook</a></li>-->
	</ul>
</section>
