<div class="container nvbar">
	<h2>{{#i18n "tmpl-site-menu"}}{{/i18n}}</h2>
    <div class="row">
        <ul class="list-inline menu">
			<li><a href="enroll.html">Enroll</a></li>
			<li><a href="team.html">The Team</a></li>
			<li><a href="media.html">Media</a></li>
        </ul>
    </div>
</div>
