---
language: en
title: Enroll
---
<p>To join our team, first read <a href="docs/9th%20Legion%20Constitution.rtf">our constitution</a>. If we are a good match for you, please fill-in the following forms and return them to us by email at <a href="mailto:info@9thlegionmilsim.com">info@9thlegionmilsim.com</a></p>
<ul>
	<li><a href="docs/9th%20Legion%20Enrollment%20Form.docx">9th Legion Enrollment Form</a></li>
	<li><a href="docs/9th%20Legion%20PEN%20Form.docx">9th Legion Personal Emergency Notification Form</a></li>
	<li><a href="docs/9th%20Legion%20Biography.docx">9th Legion Biography</a></li>
</ul>
