---
language: en
title: Home
---
<p>The 9th Legion is a group of like minded people dedicated to the development and expansion of the Military Simulation (MilSim) type sport. Our primary motivation involves Military type training to improve upon individual and team skills that would enable us to successfully engage and defeat an opposing team in MilSim type scenario events.</p>
<p>Using knowledgeable and experienced personnel with various extensive military backgrounds, our team is trained by these individuals in basic individual and personal skills involving stances, formations drills, marksmanship, kit layout, communication skills, field tactics, urban warfare drills, Close Quarter Battle (CQB) Drills and other disciplines that are paramount in the success of any MilSim scenario event.</p>
<p>The 9th Legion promotes a high standard of learning, leadership and commitment. The key to our success as a team while training and playing, is that we never overlook having FUN while learning different skill sets or using what we have learned, while playing in MilSim scenario events. </p>
<img src="assets/team_photo.jpg" alt="Photo of the team holding the team flag" />
