---
language: en
title: The Team
---
<h2>WatchDog - Commanding Officer (CO)</h2>

<h2>Satchelcharge - Second-in-Command (2IC)</h2>

<h2>Doc - Operator</h2>

<h2>Ranger - Operator</h2>

<h2>Blizzard - Operator</h2>

<h2>SwampRat - Operator</h2>

<h2>Raptor - Operator</h2>
