---
language: en
title: The Team
---
<h2>WatchDog - In-Command (IC)</h2>
<div class="row">
<div class="col-sm-3">
<img class="member img-responsive" src="assets/watchdog.jpg" alt="" />
</div>
<div class="col-sm-9">
<dl>
    <dt>Name:</dt>
    <dd>Gary Lalonde</dd>
    <dt>Active Since:</dt>
    <dd>Spring 2008</dd>
    <dt>Member Status:</dt>
    <dd>Founder</dd>
</dl>

<h3 class="h5">Background:</h3>
<p>Served almost 40 yrs with National Defence, 22 yrs in uniform as a Military Policeman and another
17 yrs as a Civilian Investigator with the CAF Prevost Marshal's Office in Ottawa.</p>

<h3 class="h5">Gear Used:</h3>
<ul class="list-unstyled">
    <li>Ares Ameba Honey Badger CQB (M4).</li>
	<li>G&G CM16 (M4) Carbine.</li>
	<li>KJ Works 1911 MEU.</li>
</ul>

<h3 class="h5">Why I chose MILSIM:</h3>

<p>Military Simulation is by far more exciting, challenging and realistic than any other type of game play.  
MilSim promotes teamwork and esprit de corps between teammates and makes for more rewarding result at the end of the day's play.</p>

<p>Our team has a wealth of Military experience and knowledge and the training we provide our teammates involving individual combat
skills and unit combat skills during the year, helps provide a more structured, cohesive successful team and provides a more significant
challenge to our adversaries.</p>
</div>
</div>

<h2>Satchelcharge - Second-in-Command (2IC)</h2>
<div class="row">
<div class="col-sm-3">
<img class="member img-responsive" src="assets/satchelcharge.jpg" alt="" />
</div>
<div class="col-sm-9">
<dl>
    <dt>Name:</dt>
    <dd>Jonathan Lalonde</dd>
    <dt>Active Since:</dt>
    <dd>2005</dd>
    <dt>Member Status:</dt>
    <dd>Founder</dd>
</dl>
<h3 class="h5">Background:</h3>

<p>Served 15 yrs with National Defence, 12 yrs as a Combat Engineer and 4 yrs(Current) as a Geotech with the Mapping and Charting
Establishment in Ottawa.</p>

<h3 class="h5">Gear Used:</h3>
<ul class="list-unstyled">
    <li>G&G CM16 (M4) Raider -L Carbine.</li>
    <li>KJ Works 1911.</li>
    <li>UTG L96 Modded.</li>
</ul>
<h3 class="h5">Why I chose MILSIM:</h3>

<p>Mil-Sim Allows me as a player to continue what the CAF has taught me by way of foundation skills, by allowing me to hone and maintain
my skills. The Sport of MIL-Sim is fast growing and highly addictive and allows for creative thinking and asymmetrical planning in an
otherwise chaotic game play.</p>
</div>
</div>

<h2>Doc - Operator</h2>
<div class="row">
<div class="col-sm-3">
<img class="member img-responsive" src="assets/doc.jpg" alt="" />
</div>
<div class="col-sm-9">
<dl>
    <dt>Name:</dt>
    <dd>Marc Lavoie</dd>
    <dt>Active Since:</dt>
    <dd>2010</dd>
    <dt>Member Status:</dt>
    <dd>Founder</dd>
</dl>
<h3 class="h5">Background:</h3>

<p>Served as a medic for 6 years, both emergency medcine and non urgent transport. Served for 3 years in the Canadian Armed Forces
as an Artilleryman. Currently work for the Ministry of Justice.</p>

<h3 class="h5">Gear Used:</h3>
<ul class="list-unstyled">
    <li>G&G CM18 MOD1 (Main)</li>
    <li>CYMA AK47 (Backup)</li>
    <li>KWC Colt 1911 (Sidearm)</li>
</ul>
<h3 class="h5">Why I chose MILSIM:</h3>

<p>It provides a more in depth aspect to the sport and it allows people like myself to expand their skillset and apply some of the
training I have received and keeping it fresh. It also adds another dimension to the dry "shoot em all up" style of play and forces
you to play smart and use all available resources, like playing call of duty but you're actually playing it, 1st person, not on a
screen, holding a remote...</p>
</div>
</div>

<h2>Ranger - Operator</h2>
<div class="row">
<div class="col-sm-3">
<img class="member img-responsive" src="assets/ranger.jpg" alt="" />
</div>
<div class="col-sm-9">
<dl>
    <dt>Name:</dt>
    <dd>Alex O'Connor</dd>
    <dt>Active Since:</dt>
    <dd>2103<dd>
    <dt>Member Status:</dt>
    <dd>Founder</dd>
</dl>
<h3 class="h5">Background:</h3>

<p>Contractor/business owner since 2010 , currently a automotive outfitting technician.</p>

<h3 class="h5">Gear Used:</h3>
<ul class="list-unstyled">
    <li>G&G CM16</li>
</ul>
<h3 class="h5">Why I chose MILSIM:</h3>

<p>Milsim is just simply badass, so why not ?</p>
</div>
</div>

<h2>Blizzard - Operator</h2>
<div class="row">
<div class="col-sm-3">
<img class="member img-responsive" src="assets/blizzard.jpg" alt="" />
</div>
<div class="col-sm-9">
<dl>
    <dt>Name:</dt>
    <dd>Laurent Goderre</dd>
    <dt>Active Since:</dt>
    <dd>Summer 2013</dd>
    <dt>Member Status:</dt>
    <dd>Founder</dd>
</dl>
<h3 class="h5">Background:</h3>

<p>Open source software developer. Studied visual effects for movies and television.</p>

<h3 class="h5">Gear Used:</h3>
<ul class="list-unstyled">
    <li>G&G GR16 (M4)</li>
    <li>WE F226 E2</li>
</ul>
<h3 class="h5">Why I chose MILSIM:</h3>

<p>In my opinion, the best part of MILSIM is the teamwork, communication and strategic aspect
of the game. There's nothing quite like working togheter as a team to complete objectives.</p>
</div>
</div>

<h2>SwampRat - Operator</h2>

<p>Coming Soon ...</p>

<h2>Raptor - Medic</h2>
<div class="row">
<div class="col-sm-3">
<img class="member img-responsive" src="assets/raptor.jpg" alt="" />
</div>
<div class="col-sm-9">
<dl>
    <dt>Name:</dt>
    <dd>Kirin Ewins Roulston</dd>
    <dt>Active Since:</dt>
    <dd>Spring 2016</dd>
    <dt>Member Status:</dt>
    <dd>Member</dd>
</dl>
<h3 class="h5">Background:</h3>

<p>BA in Psychology at Carleton, Graduate of the Applied Museum Studies program at Algonquin College. </p>

<h3 class="h5">Gear Used:</h3>
<ul class="list-unstyled">
    <li>CM UMP.</li>
    <li>KJ Works 1911.</li>
    <li>WE PDW M4 GBBR.</li>
</ul>
<h3 class="h5">Why I chose MILSIM:</h3>

<p>MILSIM is a sport that allows newcomers, like myself, to experience different roles and practice techniques
that work best for the player. Great workout too!</p>
</div>
</div>

<h2>Uzi - Recruit</h2>

<p>Coming Soon ...</p>

<h2>MaxTract - Recruit</h2>

<div class="row">
<div class="col-sm-3">
<img class="member img-responsive" src="assets/nopic.jpg" alt="" />
</div>
<div class="col-sm-9">
<dl>
    <dt>Name:</dt>
    <dd>Allen Roulston</dd>
    <dt>Active Since:</dt>
    <dd>Autumn 2016</dd>
    <dt>Member Status:</dt>
    <dd>Member</dd>
</dl>
<h3 class="h5">Background:</h3>

<p>BSc(Computer Science)  University of New Brunswick. Former skydiving instructor and scuba wreck diver.
An independent filmmaker and producer of two International Film Festivals with screenings in Ottawa</p>

<h3 class="h5">Gear Used:</h3>
<ul class="list-unstyled">
    <li>G36</li>
    <li>MK48 LMG</li>
    <li>A Pocket filled with things that go bang.</li>
</ul>
<h3 class="h5">Why I chose MILSIM:</h3>

<p>MILSIM is a sport that allows me to shoot people. Nuff said.</p>
</div>
</div>
