---
language: en
title: The Team
---
<h2>WatchDog - In-Command (IC)</h2>
<div class="row">
<div class="col-sm-3">
<img class="member img-responsive" src="assets/watchdog.jpg" alt="" />
</div>
<div class="col-sm-9">
<dl>
    <dt>Name:</dt>
    <dd>Gary Lalonde</dd>
    <dt>Active Since:</dt>
    <dd>Spring 2008</dd>
    <dt>Member Status:</dt>
    <dd>Founder</dd>
</dl>

<h3 class="h5">Background:</h3>
<p>Served almost 40 yrs with National Defence, 22 yrs in uniform as a Military Policeman and another
17 yrs as a Civilian Investigator with the CAF Prevost Marshal's Office in Ottawa.</p>

<h3 class="h5">Gear Used:</h3>
<ul class="list-unstyled">
    <li>Ares Ameba Honey Badger CQB (M4).</li>
	<li>G&G CM16 (M4) Carbine.</li>
	<li>KJ Works 1911 MEU.</li>
</ul>

<h3 class="h5">Why I chose MILSIM</h3>

<p>Military Simulation is by far more exciting, challenging and realistic than any other type of game play.  
MilSim promotes teamwork and esprit de corps between teammates and makes for more rewarding result at the end of the day's play.</p>

<p>Our team has a wealth of Military experience and knowledge and the training we provide our teammates involving individual combat
skills and unit combat skills during the year, helps provide a more structured, cohesive successful team and provides a more significant
challenge to our adversaries.</p>
</div>
</div>

<h2>Satchelcharge - Second-in-Command (2IC)</h2>
<div class="row">
<div class="col-sm-3">
<img class="member img-responsive" src="assets/satchelcharge.jpg" alt="" />
</div>
<div class="col-sm-9">
<dl>
    <dt>Name:</dt>
    <dd>Jonathan Lalonde</dd>
    <dt>Active Since:</dt>
    <dd>2005</dd>
    <dt>Member Status:</dt>
    <dd>Founder</dd>
</dl>
<h3 class="h5">Background:</h3>

<p>Served 15 yrs with National Defence, 12 yrs as a Combat Engineer and 4 yrs(Current) as a Geotech with the Mapping and Charting
Establishment in Ottawa.</p>

<h3 class="h5">Gear Used:</h3>
<ul class="list-unstyled">
    <li>G&G CM16 (M4) Raider -L Carbine.<li>
    <li>KJ Works 1911.<li>
    <li>UTG L96 Modded.<li>
</ul>
<h3 class="h5">Why I chose MILSIM</h3>

<p>Mil-Sim Allows me as a player to continue what the CAF has taught me by way of foundation skills, by allowing me to hone and maintain
my skills. The Sport of MIL-Sim is fast growing and highly addictive and allows for creative thinking and asymmetrical planning in an
otherwise chaotic game play.</p>
</div>
</div>

<h2>Doc - Operator</h2>
<div class="row">
<div class="col-sm-3">
<img class="member img-responsive" src="assets/doc.jpg" alt="" />
</div>
<div class="col-sm-9">
<dl>
    <dt>Name:</dt>
    <dd>Marc Lavoie</dd>
    <dt>Active Since:</dt>
    <dd>2010</dd>
    <dt>Member Status:</dt>
    <dd>Founder</dd>
</dl>
</div>
</div>

<h2>Ranger - Operator</h2>
<div class="row">
<div class="col-sm-3">
<img class="member img-responsive" src="assets/ranger.jpg" alt="" />
</div>
<div class="col-sm-9">
<dl>
    <dt>Name:</dt>
    <dd>Alex O'Connor</dd>
    <dt>Active Since:</dt>
    <dd>???</dd>
    <dt>Member Status:</dt>
    <dd>Founder</dd>
</dl>
</div>
</div>

<h2>Blizzard - Operator</h2>
<div class="row">
<div class="col-sm-3">
<img class="member img-responsive" src="assets/blizzard.jpg" alt="" />
</div>
<div class="col-sm-9">
<dl>
    <dt>Name:</dt>
    <dd>Laurent Goderre</dd>
    <dt>Active Since:</dt>
    <dd>Summer 2013</dd>
    <dt>Member Status:</dt>
    <dd>Founder</dd>
</dl>
</div>
</div>

<h2>SwampRat - Operator</h2>

<p>Coming Soon ...</p>

<h2>Raptor - Operator</h2>

<p>Coming Soon ...</p>
