/*
  @title: All screen views
 */

#logo {
	height: 6em;
	width: 4em;
	margin: 0.5em 0;
}

#wb-bnr {
	background: #000 url(../assets/camo.svg);
}

#wb-sttl {
	a {
		display: table;
		color: #DFCB4E;

		&:link {
			text-decoration: none;
		}

		&:hover, &:focus {
			text-decoration: underline;
		}

		div {
			display: table-cell;
			vertical-align: middle;
			padding-left: 1em;
		}

		small {
			color: #FFFFFF;
			display: block;
			font-size: 60%;
			font-style: italic;
			font-family: serif;
		}
	}
}


main {
	padding-top: 1em;
}

.servererror {
	text-align: center;

	#logo {
		height: 12em;
		width: 8em;
	}

	h1 {
		margin-bottom: 1em;
	}

	.glyphicon {
		margin: 0 0.5em;
	}
}
